.opction-content {
    height: 325px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .opction-title {
        font-weight: 600;
        font-size: $fontSize3;
        margin-top: 25px;
        text-align: center;
        line-height: 30px;
    }
}

//RWD
@media screen and (max-width:730px) {
    .product-options .row .opction-content {height: 225px;}
}
